body {background-color: #FF0000; color:white; text-align: center;}
#swearr {font-family: 'Changa One', cursive; font-size:5em;

position: relative;
	width: auto;
	height: 300px;
	
	line-height: 100px;
	 vertical-align:middle;
	border: 8px solid #fff;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;margin:20%; }

#swear p {text-align: middle;}
#swearr:before
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
	top: 300px;
	border: 25px solid;
	border-color: #fff transparent transparent #fff;
}

#swearr:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
	top: 300px;
	border: 15px solid;
	border-color: #FF0000 transparent transparent #FF0000;
}